{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block footerretouraccueil %}
	<a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a><br/>
{% endblock %}

{% block body %}
        <!-- Header -->
        <header id="header">
            <p>Aménagements cyclables</p>
            <div class="navMini">
            	<a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a>
            </div>
        </header>
        
        <!-- Nav -->
        <nav id="nav">
            <ul class="actions">
                <li><a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a></li>
                <li><a href="#saviezvous">Le saviez-vous ?</a></li>
                <li><a href="#groupes">Groupes de travail</a></li>
                <li><a href="#suggestions">Vos suggestions</a></li>
                <li><a href="#plusloin">Pour aller plus loin</a></li>
            </ul>
            <img src="{{ asset('medias/images/logo.png') }}" alt=""/>
        </nav>

        <!-- Main -->
        <div id="main">

            <section id="saviezvous" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Le saviez-vous ?</h2>
                        </header>
                        <p>En 2022, 36% des actifs de Mayenne Communauté travaillent dans la commune de leur résidence, ce qui représente 5 495 personnes. Cependant, ils sont 84% à se rendre au travail en voiture individuelle. Dans le même temps, 1,1% des habitants se déplacent à vélo pour leurs déplacements domicile-travail.</p>
                        <p>A Mayenne, la plupart des bassins d’emplois à sont accessibles en moins de 10 min à vélo depuis le centre-ville et les arrêts de bus, dont la gare routière.</p>
                        <p>Il y a donc là une certaine marge de progression.</p>
                        <p>Afin de reporter ces trajets vers les modes actifs (vélo, marche à pied), nous essayons de réfléchir et de proposer des solutions et des alternatives (aménagements cyclables, services vélo, vélo à l’essai…) lors de nos sessions de travail.</p>
                    </div>
                </div>
            </section>
            
            <section id="groupes" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Groupes de travail</h2>
                        </header>
                        <p>Le groupe Aménagement se réunit chaque fois qu’il est nécessaire pour traiter des sujets d’aménagements d’actualité (voies vertes, viaduc, centre-ville,&nbsp;…)</p>
                        <h3>Ses missions</h3>
                        <ul>
                        	<li>Exercer une activité de veille sur les aménagements cyclables</li>
                        	<li>Exercer une activité de conseil et d’expertise d’usager sur les aménagements cyclables, auprès des collectivités</li>
                        	<li>Porter la parole des usagers et usagères</li>
                        </ul>
                    </div>
                </div>
            </section>
            
            <section id="suggestions" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Vos suggestions</h2>
                        </header>
                        <p>N’hésitez pas à réagir et nous faire part de vos remarques et besoins à propos des aménagements et manques d’aménagements sur le territoire. Nous nous saisirions des dossiers et transmettrons aux décideurs (Ville de Mayenne, Mayenne Communauté, Département,&nbsp;…)</p>
                        <p>Vos idées et propositions sont aussi  bienvenues que votre participation à ces groupes de travail. </p>
                    </div>
                </div>
            </section>
            
            <section id="plusloin" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Pour aller plus loin</h2>
                        </header>
                        <p>Sites intéressants :
                        <ul>
                        	<li><a target="_blank" href="https://villes-cyclables.org/"><span class="label">Le site du club des villes et territoires cyclables</span></a></li>
                        	<li><a target="_blank" href="https://www.af3v.org/"><span class="label">Le site de l’Association Française des Véloroute et Voies Vertes</span></a></li>
                        	<li><a target="_blank" href="https://www.cerema.fr/fr"><span class="label">Le site du Céréma, référence en matière d’aménagements</span></a></li>
                        	<li><a target="_blank" href="https://www.fub.fr/"><span class="label">FUB, la Fédération des Usagers de la Bicyclette</span></a></li>
                        </ul></p>
                        <p>Quelques lectures :</p>
                    </div>
                </div>
                <div class="spotlight">
                  <img class="imageMR imgDouble" src="{{ asset('medias/images/amenagements/guide_amenagements.jpg') }}" height="300" alt="" />
                	<img class="imageContent imgDouble" src="{{ asset('medias/images/amenagements/pourquoi_velo.jpg') }}" height="300" alt="" />
            	</div>
                <div class="spotlight">
                  <img class="imageMR imgDouble" src="{{ asset('medias/images/amenagements/pouvoir_pedaile.jpg') }}" height="300" alt="" />
                  <img class="imageContent imgDouble" src="{{ asset('medias/images/amenagements/traite_velosophie.jpg') }}" height="300" alt="" />
            	</div>
            </section>

        </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/browser.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/util.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/main.js') }}"></script>
{% endblock %}