{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block footerretouraccueil %}
	<a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a><br/>
{% endblock %}

{% block body %}
        <!-- Header -->
        <header id="header">
            <p>Présentation</p>
            <div class="navMini">
            	<a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a>
            </div>
        </header>
        
        <!-- Nav -->
        <nav id="nav">
            <ul class="actions">
                <li><a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a></li>
                <li><a href="#commentcamarche">Comment ça marche ?</a></li>
                <li><a href="#solidarite">Lieu de solidarité</a></li>
                <li><a href="#valorisation">Recyclage et valorisation</a></li>
            </ul>
            <img src="{{ asset('medias/images/logo.png') }}" alt=""/>
        </nav>

        <!-- Main -->
        <div id="main">

            <section id="commentcamarche" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Un atelier d’auto-réparation, comment ça marche ?</h2>
                        </header>
                        <p>
                        L’atelier vélo est ouvert aux adhérents de La Roue Libre qui souhaitent…
                        <ul>
                        	<li>apprendre à vérifier, entretenir, réparer leur vélo,</li>
                        	<li>observer et apprendre d’autres réparations en cours</li>
                        	<li>partager leur savoir, en aidant et montrant à d’autres ce qu’ils connaissent.</li>
                        </ul>
                        </p>
                        <p>L’atelier est un espace dédié à l’entretien, réglage, réparation des vélos des adhérents de l’association avec à disposition l’ensemble des outils nécessaires.</p>
                        <p>Encadrés par les bénévoles de l’association, les adhérents de l'atelier de La Roue Libre réalisent les réparations et les réglages sur leur propre vélo. Dans l’atelier, nous mettons à disposition la plupart des outillages classiques et spécifiques à la mécanique cycle, des pièces d’occasion démontées sur des vélos hors d’usage et quelques consommables nécessaires aux travaux.</p>
                    </div>
                    <img class="imageContent imgDouble" src="{{ asset('medias/images/atelier.jpg') }}" width="600" alt="" />
                </div>
            </section>
            
            <section id="solidarite" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Un lieu de solidarité et d'apprentissage de la mécanique</h2>
                        </header>
                        <p>Les conseils des bénévoles ou des intervenants professionnels de l’association permettent aux participants d’améliorer leurs compétences dans la réparation et l’entretien de leur moyen de transport. L'atelier est un lieu d'apprentissage où chacun peut devenir autonome dans sa pratique et peu à peu transmettre ce qu'il aura appris. Ainsi cet épanouissement dans la mécanique se veut coopératif et solidaire : chacun est invité à apprendre à d'autres comment entretenir ou réparer son vélo.</p>
                    </div>
                </div>
            </section>
            
            <section id="valorisation" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Un lieu de recyclage et de valorisation</h2>
                        </header>
                        <p>Pour alimenter le stock de l’atelier, nous acceptons avec plaisir les dons de vélos et de pièces. Si vous n’en avez plus l’usage, venez les déposer pendant nos permanences. Les vélos très abîmés seront démontés pour pièces. Les autres seront remis en état ou révisés par des membres de l’association.</p>
                        <p>L'atelier est inscrit dans une démarche d’éco-responsabilité. En partenariat avec des structures relais il favorise la mise en place d’un cycle efficace de réemploi et d'économie-circulaire. Les vélos, à l’origine destinés à la déchetterie, sont soit réparés et remis en circulation soit démontés/triés afin de réutiliser les pièces encore valables. Cette démarche permet à la fois de réduire les déchets mais également de favoriser l'accès à des pièces de réparation aux budgets modestes.</p>
                    </div>
                </div>
            </section>

        </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/browser.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/util.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/main.js') }}"></script>
{% endblock %}