<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}La Roue Libre{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('medias/images/favico.ico') }}" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ asset('template-html5up-stellar/assets/css/main.css') }}" />
    <noscript><link rel="stylesheet" href="{{ asset('template-html5up-stellar/assets/css/noscript.css') }}" /></noscript>
    <style>
        body {
            background-color: #296c57;
            background-image: url({{ asset('template-html5up-stellar/images/overlay.png') }}), -moz-linear-gradient(45deg, #296c57 15%, #1a2d11 85%);
            background-image: url({{ asset('template-html5up-stellar/images/overlay.png') }}), -webkit-linear-gradient(45deg, #296c57 15%, #1a2d11 85%);
            background-image: url({{ asset('template-html5up-stellar/images/overlay.png') }}), -ms-linear-gradient(45deg, #296c57 15%, #1a2d11 85%);
            background-image: url({{ asset('template-html5up-stellar/images/overlay.png') }}), linear-gradient(45deg, #296c57 15%, #1a2d11 85%);
        }

        #header p{
            margin: 0;
        }
        .navMini a{
            display: none;
        }
        span.rlLogo{
            background: #fff;
            display: inline-block !important;
            border-radius: 327px;
            padding: 57px 16px;
        }
        .spotlight .image{
            max-width: 80%;
        }
        .spotlight .image img {
            width: 25em;
            max-width: 100%;
        }
        .imageContent{
            margin-left: 0 !important;
            margin-right: 0 !important;
            max-width: 100%;
        }
        .imgLandscape{
            max-width: 80%;
        }
        .imageMR{
            margin-left: 0 !important;
            margin-right: 4em;
            max-width: 80%;
        }
        .contentImgDouble{
            margin-left: 0 !important;
            margin-right: 4em;
        }
        .imageMR{
            margin-left: 0 !important;
            margin-right: 4em;
            max-width: 80%;
        }
        .imageMR img, .imageMRContent img, {
            max-width: 100%;
        }
        .imageMRContent{
            margin-left: 0 !important;
            margin-right: 4em;
            max-width: 100%;
        }
        .imgDouble{
            max-width: 45%;
        }
        .imageIllus{
            width: 250px;
            height: 250px;
            background-size: 125%;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 115px;
        }
        nav img {
            position: absolute;
            top: 7px;
            right: 7px;
            width: 68px;
        }

        #nav.alt img {
            top: 5px;
            right: 5px;
            width: 50px;
        }
        @media screen and (max-width: 1280px) {
            nav img{
                width: 60px;
            }
            #nav.alt img {
                top: 5px;
                right: 5px;
                width: 40px;
            }
        }
        @media screen and (max-width: 980px) {
            .imageMR, .imageMRContent, .contentImgDouble{
                margin: 10px 0;
            }
            .imageContent{
                margin-left: 0 !important;
                margin-right: 4em;
                max-width: 80%;
                margin: 10px 0;
            }
            .imgDouble{
                max-width: 80%;
            }
            iframe{
                max-width: 100%;
                margin: 10px 0;
            }
            .contentImgDouble p{
                margin: 0;
            }
            .spotlight p, 
            .spotlight ul, 
            .spotlight li,
            .spotlight dl,
            .spotlight dt{
            	text-align: left;
            }
            nav img{
                width: 50px;
            }
        }
        @media screen and (max-width: 736px) {
            nav img{
                display: none;
            }
        }
        @media screen and (max-width: 736px) {
            .navMini a{
              display: inline;
            }
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body class="is-preload">
    <div id="wrapper">

        {% block body %}{% endblock %}

        <footer id="footer">
            <p class="copyright">{% block footerretouraccueil %}{% endblock %}
            &copy; LaRoueLibre53. - <a href="{{ path('presentation')}}#contacter" target="_blank"><b>Nous contacter</b></a><br/>
            Design: <a target="_blank" href="https://studit.fr">STUDIT</a>.</p>
        </footer>
    </div>
    {% block javascripts %}{% endblock %}
</body>
</html>