{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}

{% block body %}
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="{{ path('homepage') }}" class="active">Revenir à l'accueil</a></li>
                <li><a href="#coursiers">Coursiers solidaires</a></li>
            </ul>
            <img src="{{ asset('medias/images/logo.png') }}" alt=""/>
        </nav>

        <!-- Main -->
        <div id="main">


            <section id="coursiers" class="main">
                <div class="spotlight">
                    <span class="imageMR"><img src="{{ asset('medias/images/affiche.jpg') }}" alt="" /></span>
                    <iframe src="https://www.google.com/maps/d/u/1/embed?mid=14TryoXhjmjgaYk1y44U5kiIU_-vBKWmC"
                            width="640" height="480" style="margin-right: 10px"></iframe>

                </div>
            </section>
        </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/browser.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/util.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/main.js') }}"></script>
{% endblock %}