{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block footerretouraccueil %}
{% endblock %}

{% block body %}
        <!-- Header -->
        <header id="header" class="alt">
            <span class="logo rlLogo"><img src="{{ asset('medias/images/logo.png') }}" alt="" /></span>
            <p>La petite association qui fait peur aux Hummers</p>
        </header>
        
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="#presentation" class="active">Présentation</a></li>
                <li><a href="#atelier">Atelier</a></li>
                <li><a href="#cargo">Vélo Cargo</a></li>
                <li><a href="#sorties">Préparer vos sorties</a></li>
                <li><a href="#amenagements">Aménagements cyclables</a></li>
                <li><a href="#projets">Projets</a></li>
            </ul>
            <img src="{{ asset('medias/images/logo.png') }}" alt="" />
        </nav>

        <!-- Main -->
        <div id="main">
        
            <section id="presentation" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Actualités de l'association</h2>
                        </header>
                        <p>Facebook <a target="_blank" href="https://www.facebook.com/Larouelibre53/" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a> : <a href="https://www.facebook.com/Larouelibre53/" target="blank"> Larouelibre53</a></p>
                    </div>
                </div>
            </section>

            <section id="presentation" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Présentation</h2>
                        </header>
                        <p>Née en Janvier 2020, l'association a déjà traversé des tempêtes, mais elle a tenu bon face aux embruns. Son équipage tient bon la barre pour faire avancer les modes de circulation doux et mener les projets !</p>
                        <ul class="actions">
                            <li><a href="{{ path('presentation')}}" class="button">En savoir plus</a></li>
                        </ul>
                    </div>
                    <span class="image"><img src="{{ asset('medias/images/presentationGroupe.jpg') }}" alt="" /></span>
                </div>
            </section>

            <section id="atelier" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Atelier</h2>
                        </header>
                        <p>
                            Ici, c'est toi qui répares ton vélo !
                        </p>
                        <ul class="actions">
                            <li><a href="{{ path('atelier')}}" class="button">En savoir plus</a></li>
                        </ul>
                    </div>
                    <span class="image"><img src="{{ asset('medias/images/atelierAccueil.jpg') }}" alt="" /></span>
                </div>
            </section>

            <section id="cargo" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Vélo Cargo</h2>
                        </header>
                        <p>Associations, particuliers, entreprises… laissez la voiture ou la fourgonnette au garage et changez de braquet !</p>
                        <ul class="actions">
                            <li><a href="{{ path('velocargo')}}" class="button">En savoir plus</a></li>
                        </ul>
                    </div>
                    <span class="image"><img src="{{ asset('medias/images/cargo/velocargo1.jpg') }}" alt="" /></span>
                </div>
            </section>
            
            <section id="sorties" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Préparez vos sorties</h2>
                        </header>
                        <p>Sacoches, remorque enfant ou utilitaire, guides de balade,&nbsp;… nous avons tout ce qu’il vous faut pour préparer vos prochaines aventures à vélo !
                        </p>
                        <ul class="actions">
                            <li><a href="{{ path('prepasorties')}}" class="button">En savoir plus</a></li>
                        </ul>
                    </div>
                    <span class="image"><img src="{{ asset('medias/images/biblio/ballades1.jpg') }}" alt="" /></span>
                </div>
            </section>
            
            <section id="amenagements" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Aménagements cyclables</h2>
                        </header>
                        <p>Une ville cyclable est une ville où les enfants vont à vélo à l’école, sans leurs parents. Pour atteindre cet objectif, il faut se mobiliser et proposer des solutions pour mettre en place des aménagements cyclables de qualité.</br>
                        La Roue Libre s’investit en ce sens et à besoin de vous.</p>
                        <ul class="actions">
                            <li><a href="{{ path('amenagements')}}" class="button">En savoir plus</a></li>
                        </ul>
                    </div>
                    <span class="image"><img src="{{ asset('medias/images/amenagementsCyclables.jpg') }}" alt="" /></span>
                </div>
            </section>
            
            <section id="projets" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Les projets et actions de l'association</h2>
                        </header>
                        <p>Dates à venir et évènements passés, c’est par ici !</p>
                        <ul class="actions">
                            <li><a href="{{ path('projets')}}" class="button">En savoir plus</a></li>
                        </ul>
                    </div>
                    <span class="image"><img src="{{ asset('medias/images/projet.jpg') }}" alt="" /></span>
                </div>
            </section>
            
        </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/browser.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/util.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/main.js') }}"></script>
{% endblock %}
