{% extends 'old.base.html.twig' %}
{% block stylesheets %}

{% endblock %}

{% block body %}
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="#intro" class="active">Présentation</a></li>
                <li><a href="#coursiers">Coursiers solidaires</a></li>
                <li><a href="#lettre">Lettre au père Noël</a></li>
                <li><a href="#cargo">Vélo Cargo</a></li>
                <li><a href="#evenements">Évènements</a></li>
            </ul>
            <img src="{{ asset('medias/images/logo.png') }}" alt="" />
        </nav>

        <!-- Main -->
        <div id="main">

            <section id="intro" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Présentation</h2>
                        </header>
                        <p>Née en Janvier 2020, l'association a déjà traversé des tempêtes, mais elle a tenu bon face aux embruns
                        et son équipage est surmotivé pour faire avancer les modes de circulation doux !</p>
                        <!--<ul class="actions">
                            <li><a href="generic.html" class="button">En savoir plus</a></li>
                        </ul>-->
                    </div>
                    <span class="image"><img src="{{ asset('medias/images/imgPres.jpg') }}" alt="" /></span>
                </div>
            </section>

            <section id="evenements" class="main">
                <div class="spotlight">
                    <span class="imageMR"><img src="{{ asset('medias/images/velorution_generique.jpg') }}" alt="Présentation de la vélorution" /></span>
                    <div class="content">
                        <header class="major">
                            <h2>Évènements</h2>
                        </header>
                        <p>
                            De nombreux évènements ont lieu tout au long de l'année, selon l'actualité
                            et les conditions sanitaires.
                        </p>
                        <p>Les "Vélorutions" sont l'occasion de se retrouver dans la convivialité pour pratiquer le vélo en suivant une thématique propre à chaque sortie.</p>
                        <!--
                        <ul class="actions">
                            <li><a href="generic.html" class="button">En savoir plus</a></li>
                        </ul>
                        -->
                    </div>
                </div>
            </section>

            <section id="coursiers" class="main special">
                <header class="major">
                    <h2>La roue Livre : Service de coursiers solidaires</h2>
                </header>
                <ul class="features">
                    <li>
                        <span class="image imageIllus" style="background-image: url({{ asset('medias/images/local.jpg') }})"></span>
                        <h3>Local</h3>
                        <p>Les commerces concernés par le service sont tous situés sur le territoire.</p>
                    </li>
                    <li>
                        <span class="image imageIllus" style="background-image: url({{ asset('medias/images/social.jpg') }})"></span>
                        <h3>Social</h3>
                        <p>Favorise l'accès aux commerces de proximités, et créé un contact sympatique.</p>
                    </li>
                    <li>
                        <span class="image imageIllus" style="background-image: url({{ asset('medias/images/ecolo.jpg') }})"></span>
                        <h3>Écologique</h3>
                        <p>Nos livraisons sont garanties "huile de genoux". Le seul CO<sup>2</sup> rejeté par la livraison sort des poumons de nos sportifs volontaires.</p>
                    </li>
                </ul>
                <footer class="major">
                    <ul class="actions special">
                        <li><a href="{{ path('coursiers')}}" class="button">En savoir plus</a></li>
                    </ul>
                </footer>
            </section>

            <section id="lettre" class="main">
                <div class="spotlight">
                    <iframe src="https://www.google.com/maps/d/u/1/embed?mid=10AILLjMsNG0f6VHCM4r4NiIMvJGaX2CL" width="640" height="480" style="margin-right: 10px"></iframe>
                    <div class="content">
                        <header class="major">
                            <h2>Lettre au père Noël</h2>
                        </header>
                        <p>Voici une carte collaborative ouverte aux adhérents, sur laquelle nous partageons nos envies
                            d'aménagements, d'équipements relatifs à la pratique du vélo sur notre territoire</p>
                        <!--
                        <ul class="actions">
                            <li><a href="generic.html" class="button">En savoir plus</a></li>
                        </ul>
                        -->
                    </div>
                </div>
            </section>

            <section id="cargo" class="main">
                <div class="spotlight">
                    <div class="content">
                        <header class="major">
                            <h2>Vélo Cargo</h2>
                        </header>
                        <p>Un de nos projets phare est l'acquisition d'un vélo cargo à assistance électrique.
                            Nous envisageons de nombreux projets avec ce formidable outil. Du nouveau prochainement...</p>
                        <!--
                        <ul class="actions">
                            <li><a href="generic.html" class="button">En savoir plus</a></li>
                        </ul>
                        -->
                    </div>
                    <span class="image"><img src="{{ asset('medias/images/cargo.jpg') }}" alt="" /></span>
                </div>
            </section>
        </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/browser.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/util.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/main.js') }}"></script>
{% endblock %}
