<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}La Roue Libre{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('medias/images/favico.ico') }}" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ asset('template-html5up-stellar/assets/css/main.css') }}" />
    <noscript><link rel="stylesheet" href="{{ asset('template-html5up-stellar/assets/css/noscript.css') }}" /></noscript>
    <style>
        body {
            background-color: #296c57;
            background-image: url({{ asset('template-html5up-stellar/images/overlay.png') }}), -moz-linear-gradient(45deg, #296c57 15%, #1a2d11 85%);
            background-image: url({{ asset('template-html5up-stellar/images/overlay.png') }}), -webkit-linear-gradient(45deg, #296c57 15%, #1a2d11 85%);
            background-image: url({{ asset('template-html5up-stellar/images/overlay.png') }}), -ms-linear-gradient(45deg, #296c57 15%, #1a2d11 85%);
            background-image: url({{ asset('template-html5up-stellar/images/overlay.png') }}), linear-gradient(45deg, #296c57 15%, #1a2d11 85%);
        }

        #header p{
            margin: 0;
        }
        span.rlLogo{
            background: #fff;
            display: inline-block !important;
            border-radius: 327px;
            padding: 57px 16px;
        }
        .spotlight .image{
            max-width: 80%;
        }
        .spotlight .image img {
            width: 25em;
            max-width: 100%;
        }
        .imageMR{
            margin-left: 0 !important;
            margin-right: 4em;
            max-width: 80%;
        }
        .imageMR img{
            max-width: 100%;
        }
        .imageIllus{
            width: 250px;
            height: 250px;
            background-size: 125%;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 115px;
        }

        nav img {
            position: absolute;
            top: 7px;
            right: 7px;
            width: 68px;
        }

        #nav.alt img {
            top: 5px;
            right: 5px;
            width: 50px;
        }
        @media screen and (max-width: 1280px) {
            nav img{
                width: 60px;
            }
            #nav.alt img {
                top: 5px;
                right: 5px;
                width: 40px;
            }
        }
        @media screen and (max-width: 980px) {
            .imageMR {
                margin: 10px 0;
            }
            iframe{
                max-width: 100%;
                margin: 10px 0;
            }
            nav img{
                width: 50px;
            }
        }
        @media screen and (max-width: 700px) {
            nav img{
                display: none;
            }
        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
<body class="is-preload">
    <div id="wrapper">
        <!-- Header -->
        <header id="header" class="alt">
            <span class="logo rlLogo"><img src="{{ asset('medias/images/logo.png') }}" alt="" /></span>
            <p>La petite association qui fait peur aux Hummers</p>
        </header>

        {% block body %}{% endblock %}

        <footer id="footer">
            <section>
                <h2>Nous contacter</h2>
                <p>
                    Tous les moyens sont bons ! Nous sommes à la page alors profitez-en ! Il est compliqué de ne pas
                    réussir à nous joindre. Via les réseaux sociaux ou par email, nous sommes à votre écoute. Ayez le
                    bon réflexe et suivez-nous sur Twitter et/ou Facebook pour être informés des dernières nouvelles.
                </p>
            </section>
            <section>
                <h2>Coordonnées</h2>
                <dl class="alt">
                    <dt>Adresse</dt>
                    <dd>Mayenne</dd>
                    <dt>Email</dt>
                    <dd><a href="mailto:rouelibre53@gmail.com">rouelibre53<code>@</code>gmail.com</a></dd>
                </dl>
                <ul class="icons">
                    <li><a target="_blank" href="https://twitter.com/LaRoueLibre3" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/Larouelibre53/" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
                </ul>
            </section>
            <p class="copyright">&copy; LaRoueLibre53. Design: <a target="_blank" href="https://studit.fr">STUDIT</a>.</p>
        </footer>
    </div>
    {% block javascripts %}{% endblock %}
</body>
</html>