{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block footerretouraccueil %}
	<a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a><br/>
{% endblock %}

{% block body %}
        <!-- Header -->
        <header id="header">
            <p>Préparer vos sorties</p>
            <div class="navMini">
            	<a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a>
            </div>
        </header>
        
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a></li>
                <li><a href="#materiel">Prêt de matériel</a></li>
                <li><a href="#mediatheque">Médiathèque</a></li>
                <li><a href="#conditions">Conditions d'emprunt</a></li>
            </ul>
            <img src="{{ asset('medias/images/logo.png') }}" alt=""/>
        </nav>

        <!-- Main -->
        <div id="main">

            <section id="materiel" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Prêt de matériel</h2>
                        </header>
                        <p>L'association met à disposition des adhérents tout un ensemble de matériel&nbsp;:<br/>
                        - Une remorque enfant<br/>
                        - Une remorque utilitaire<br/>
                        - Une paire de sacoches bleues et une paire de sacoches jaunes<br/>
                        - Des vélos, remis en état par l'association<br/>
                        - Un Follow-me (système permettant d'accrocher un vélo enfant à un vélo adulte comme un tandem)<br/>
                        - Ainsi que <a href="{{ path('velocargo')}}"><b>le vélo cargo</b></a><br/>
                        </p>
                    </div>
                    <img class="imageContent imgDouble" src="{{ asset('medias/images/materiel/remorque3.jpg') }}" width="480" alt="" />
                </div>
                <div class="spotlight">
                  <img class="imageMR imgDouble" src="{{ asset('medias/images/materiel/remorque1.jpg') }}" width="600" alt="" />
                	<img class="imageContent imgDouble" src="{{ asset('medias/images/materiel/remorque2.jpg') }}" width="600" alt="" />
            	</div>
                <div class="spotlight">
                  <img class="imageMR imgDouble" src="{{ asset('medias/images/materiel/sacochesJ1.jpg') }}" width="600" alt="" />
                  <img class="imageContent imgDouble" src="{{ asset('medias/images/materiel/sacochesJ2.jpg') }}" width="600" alt="" />
            	</div>
                <div class="spotlight">
                  <img class="imageMR imgDouble" src="{{ asset('medias/images/materiel/sacochesB1.jpg') }}" width="600" alt="" />
                  <img class="imageContent imgDouble" src="{{ asset('medias/images/materiel/sacochesB2.jpg') }}" width="600" alt="" />
            	</div>
                <div class="spotlight">
                  <img class="imageMR imgDouble" src="{{ asset('medias/images/materiel/followme1.jpg') }}" width="600" alt="" />
                  <img class="imageContent imgDouble" src="{{ asset('medias/images/materiel/followme2.jpg') }}" width="600" alt="" />
            	</div>
                <div class="spotlight">
                  <img class="imageMR imgDouble" src="{{ asset('medias/images/materiel/velos.jpg') }}" width="600" alt="" />
                  <img class="imageContent imgDouble" src="{{ asset('medias/images/cargo/velocargo1.jpg') }}" width="600" alt="" />
            	</div>
            </section>
            
            <section id="mediatheque" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Médiathèque</h2>
                        </header>
                        <p>Guides de balades, cartes touristiques, beaux livres, … de nombreux ouvrages sont disponibles à la médiathèque de l'association.<br/>
                        Ceux-ci peuvent être consultés sur place au local ou empruntés par les membres.</p>
                    </div>
                    <img class="imageContent imgDouble" src="{{ asset('medias/images/biblio/patchwork.jpg') }}" width="480" alt="" />
                </div>
                <div class="spotlight">
                  <div class="content contentImgDouble imgDouble">
            		  <p>Des ouvrages et des cartes pour préparer ses ballades...</p>
            		  <img class="imageMRContent" src="{{ asset('medias/images/biblio/routards.jpg') }}" width="600" alt="" />
            		</div>
						<img class="imageContent imgDouble" src="{{ asset('medias/images/biblio/ballades3.jpg') }}" width="600" alt="" />
            	 </div>
                <div class="spotlight">
            		<img class="imageMR imgDouble" src="{{ asset('medias/images/biblio/ballades1.jpg') }}" width="600" alt="" />
						<img class="imageContent imgDouble" src="{{ asset('medias/images/biblio/ballades2.jpg') }}" width="600" alt="" />
            	</div>
                <div class="spotlight">
            		<img class="imageMR imgDouble" src="{{ asset('medias/images/biblio/ballades4.jpg') }}" width="600"  alt="" />
						<img class="imageContent imgDouble" src="{{ asset('medias/images/biblio/carte1.jpg') }}" width="600" alt="" />
            	</div>
            	<div class="spotlight">
            		<img class="imageMR imgDouble" src="{{ asset('medias/images/biblio/carte2.jpg') }}" width="600" alt="" />
						<img class="imageContent imgDouble" src="{{ asset('medias/images/biblio/carte3.jpg') }}" width="600" alt="" />
            	</div>
                <div class="spotlight">
                	<div class="content contentImgDouble imgDouble">
	            		<p>Des manuels techniques pour l'entretien de son vélo...</p>
							<img class="imageMRContent" src="{{ asset('medias/images/biblio/entretien.jpg') }}" width="600" alt="" />
						</div>
            	 </div>
                <div class="spotlight">
                  <div class="content contentImgDouble imgDouble">
            			<p>Et enfin, de la littérature pour les plus petits<br/>et des livres de société pour les plus grands...</p>
            			<img class="imageMRContent" src="{{ asset('medias/images/biblio/litterature1.jpg') }}" width="600" alt="" />
            		</div>
						<img class="imageContent imgDouble" src="{{ asset('medias/images/biblio/societe.jpg') }}" width="600" alt="" />
            	 </div>
            	<div class="spotlight">
            		<img class="imageMR imgDouble" src="{{ asset('medias/images/biblio/litterature2.jpg') }}" width="600" alt="" />
						<img class="imageContent imgDouble" src="{{ asset('medias/images/biblio/litterature3.jpg') }}" width="600" alt="" />
            	</div>
            	<div class="spotlight">
            		<img class="imageMR imgDouble" src="{{ asset('medias/images/biblio/litterature4.jpg') }}" width="600" alt="" />
						<img class="imageContent imgDouble" src="{{ asset('medias/images/biblio/litterature5.jpg') }}" width="600" alt="" />
            	</div>
            </section>
            
            <section id="conditions" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Conditions d'emprunt</h2>
                        </header>
                        <p>L'emprunt du matériel et des livres est réservé aux adhérents de l'association.<br/>
                        Pour adhérer à l'association ou simplement nous contacter : <a href="{{ path('presentation')}}#contacter" target="_blank"><b>nous contacter</b></a></p>
                    </div>
                </div>
            </section>

        </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/browser.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/util.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/main.js') }}"></script>
{% endblock %}