{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block footerretouraccueil %}
	<a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a><br/>
{% endblock %}

{% block body %}
        <!-- Header -->
        <header id="header">
            <p>Présentation</p>
            <div class="navMini">
            	<a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a>
            </div>
        </header>
        
        <!-- Nav -->
        <nav id="nav">
            <ul class="actions">
                <li><a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a></li>
                <li><a href="#quisommesnous">Qui sommes nous ?</a></li>
                <li><a href="#adherer">Adhérer</a></li>
                <li><a href="#contacter">Nous contacter</a></li>
                <li><a href="#partenaires">Partenaires</a></li>
                <li><a href="#reseau">Réseau</a></li>
            </ul>
            <img src="{{ asset('medias/images/logo.png') }}" alt=""/>
        </nav>

        <!-- Main -->
        <div id="main">

            <section id="rouelibreresume" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>La Roue Libre en résumé</h2>
                        </header>
                        <p>
                        <ul>
                        	<li>Des bénévoles motivés, engagés et sympas !</li>
                        	<li>Un atelier d’auto-réparation</li>
                        	<li>Un vélo cargo</li>
                        	<li>Une bibliothèque dédiée au vélo</li>
                        	<li>La participation à une vingtaine d’animation ou d’événement dans l’année</li>
                        	<li>Une gouvernance collective</li>
                        	<li>La participation active aux propositions sur les aménagements urbains favorisant la place du vélo</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </section>
            
            <section id="quisommesnous" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Qui sommes nous ?</h2>
                        </header>
                        <p>La Roue Libre est une association d'usagers du vélo située à Mayenne (53100), dont les rôles sont multiples :
                        <ul>
                        	<li>Participation aux réflexions sur l'aménagement urbain et cyclable de la ville de Mayenne et de Mayenne Communauté</li>
                        	<li>Organisation d'ateliers thématiques autour du vélo : réparation, entretien, création d’accessoires, …</li>
                        	<li>Prêt de vélos, d'accessoires ou de livres aux adhérents</li>
                        	<li>Organisation des "Vélorutions", pour se retrouver dans la convivialité et pratiquer le vélo en suivant une thématique propre à chaque sortie</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </section>
            
            <section id="adherer" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Adhérer</h2>
                        </header>
                        <p>L'adhésion à l'association se fait en retournant le formulaire d'inscription que vous pouvez demander <a href="#contacter"><b>par mail</b></a>.<br/>
                        L'adhésion est annuelle, de septembre à août de l'année en cours.<br/>
                        Son tarif est de 10€ par personne / 15€ pour une famille.</p>
                        <header class="major">
                            <h3>Pourquoi adhérer ?</h3>
                        </header>
                        <p>Vos cotisations aident l’association La Roue Libre et ses bénévoles à mener des actions en faveur de l’utilisation de la bicyclette :
                        <ul>
                        	<li>Interventions régulières auprès des élus du territoire pour un meilleur aménagement cyclable</li>
                        	<li>Animation et aménagement de l’atelier d’auto-réparation</li>
                        	<li>Organisation d’évènements et de rencontres : Croq’ la roue, vélorutions, balades familles …</li>
                        	<li>Animation de projets pédagogiques avec les lycées</li>
                        	<li>Evénements ponctuels pour rendre plus visibles les cyclistes</li>
                        	<li>Et bien d’autres choses encore …</li>
                        </ul>
								Cela vous donne la possibilité d’utiliser librement l’atelier et l’accès à l’ensemble du matériel de réparation, d’emprunter remorques et autres équipements vélos, d’accéder à l’ensemble des ouvrages de notre bibliothèque (guides, beaux livres, …) et de prendre part à la vie de l’association et ses engagements publics.
                        </p>
                    </div>
                </div>
            </section>
            
            <section id="contacter" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Nous contacter</h2>
                        </header>
		                  <p>Tous les moyens sont bons !</p>
                    		<p>Via les réseaux sociaux ou par email, nous sommes à votre écoute. Ayez le bon réflexe et suivez-nous sur Twitter et/ou Facebook pour être informés des dernières nouvelles.
        			         </p>
        			         <dl class="alt altLarge">
                    <dt>Adresse du local</dt>
                    <dd>452 rue des Fauvettes, 53100 Mayenne</dd>
                    <dt>Email</dt>
                    <dd><a href="mailto:rouelibre53@gmail.com">rouelibre53<code>@</code>gmail.com</a></dd>
                	</dl>
                	<ul class="icons">
                    <li><a target="_blank" href="https://twitter.com/LaRoueLibre3" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/Larouelibre53/" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
                	</ul>
                    </div>
                </div>
            </section>
            
            <section id="partenaires" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Partenaires</h2>
                        </header>
                        <p>Lycées Rochefeuille et De Vinci de Mayenne, Emmaüs, Centre Social Les Possibles</p>
                        <p>Ville de Mayenne, Mayenne Communauté, Département</p>
                    </div>
                </div>
            </section>
            
            <section id="reseau" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Réseau</h2>
                        </header>
                        <p>L’association est adhérente de <a target="_blank" href="https://www.fub.fr/"><span class="label"><b>la FUB</b></span></a> et fait partie du <a target="_blank" href="https://velo-paysdelaloire.fr/"><span class="label"><b>Collectif Vélo Pays de la Loire</b></span></a>, un collectif de 29 associations des Pays-de-la-Loire pour démocratiser les déplacements à vélo.</p>
                    </div>
                </div>
            </section>

        </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/browser.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/util.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/main.js') }}"></script>
{% endblock %}