{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block footerretouraccueil %}
	<a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a><br/>
{% endblock %}

{% block body %}
        <!-- Header -->
        <header id="header">
            <p>Les projets et actions de l'association</p>
            <div class="navMini">
            	<a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a>
            </div>
        </header>
        
        <!-- Nav -->
        <nav id="nav">
            <ul class="actions">
                <li><a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a></li>
                <li><a href="#retro">Dans le rétro</a></li>
                <li><a href="#futur">A venir</a></li>
                <li><a href="#avous">A vous de jouer !</a></li>
            </ul>
            <img src="{{ asset('medias/images/logo.png') }}" alt=""/>
        </nav>

        <!-- Main -->
        <div id="main">

            <section id="retro" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Dans le rétro...</h2>
                        </header>
                        <p>La Roue libre monte et participe à de nombreux projets en lien (ou non) avec la bicyclette.<br/>Depuis 2020, il s’est passé pas mal de choses&nbsp;:
                        <ul>
                        	<li>Des rencontres avec les habitants, sur la place Clémenceau les jours de marché</li>
                        	<li>Des rencontres et réunions de travail avec les services de la ville et les élus de Mayenne et Mayenne Communauté</li>
                        	<li>Des Vélorutions : Krep’Vélorution, parcs et jardins, Tous à la ferme, …</li>
                        	<li>La création du service des coursiers solidaires pendant les périodes de confinements</li>
                        	<li>La création d’un atelier de couture spécialisé matériel vélo</li>
                        	<li>La participation à l’évènement Croq’ les mots Marmots avec le projet Croq’ la roue (atelier Pshit, draisienne, …)</li>
                        	<li>… et bien d’autres moments de convivialité et de rencontre&nbsp;!</li>
                        </ul></p>
                    </div>
                </div>
            </section>
            
            <section id="futur" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>A venir</h2>
                        </header>
                        <p>Pour suivre l'actualité, rendez-vous sur les réseaux&nbsp;!
                        <a target="_blank" href="https://www.facebook.com/Larouelibre53/" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></p>
                    </div>
                </div>
            </section>
            
            <section id="avous" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>A vous de jouer !</h2>
                        </header>
                        <p>Inutile d’être expert ou experte pour donner un coup de main ou partager des idées. Rejoignez l’équipe le temps d’une réparation, d’un démontage, d’un évènement, d’une sortie, … vous pourriez bien avoir envie de revenir…</p>
                        <p>Merci à vous, bénévoles d’un jour ou de toujours&nbsp;!</p>
                    </div>
                </div>
            </section>
        </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/browser.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/util.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/main.js') }}"></script>
{% endblock %}