{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block footerretouraccueil %}
	<a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a><br/>
{% endblock %}

{% block body %}
        <!-- Header -->
        <header id="header">
            <p>Vélo Cargo</p>
            <div class="navMini">
            	<a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a>
            </div>
        </header>
        
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="{{ path('homepageV2022') }}" class="active">Revenir à l'accueil</a></li>
            </ul>
            <img src="{{ asset('medias/images/logo.png') }}" alt=""/>
        </nav>

        <!-- Main -->
        <div id="main">

            <section id="velocargo" class="main">
                <div class="spotlight">
                	  <div class="content">
                        <header class="major">
                            <h2>Vélo Cargo</h2>
                        </header>
                        <h3>Laisser la voiture ou la fourgonnette au garage pendant une semaine (ou plus), c’est possible !</h3>
                        <p>
Avec notre vélo cargo, vous avez la possibilité de transporter 2 enfants, vos courses de la semaine, les encombrants pour la déchetterie, la caisse à outils, le matériel de chantier et à peu près tout ce que vous souhaitez dans la limite d’une cinquantaine de kilos et du volume de la caisse du vélo. Pour les meilleurs, il est même possible de transporter 3 barrières de chantier !</p>
                        <center><img class="imageContent imgDouble" src="{{ asset('medias/images/cargo/velocargo2.jpg') }}" width="600" alt="" /></center>
                        <p>
Ce service, entièrement gratuit vous permet de tester les possibilités de ce vélo génial et envisager une autre vie pour vos véhicules thermiques…
Un vélo cargo peut aisément remplacer une voiture dans beaucoup de situations. C’est un moyen de transport à valoriser car il contribue à apaiser la circulation et à améliorer la qualité de vie en ville. 
Mais ces vélos sont assez onéreux, ce qui constitue un frein pour franchir le pas. Avec le vélo cargo de La Roue Libre, vous allez pouvoir l’essayer au quotidien librement et sans engagement. Facile pour se faire un avis !</p>
                    </div>
                    
                </div>
            </section>
            
            <section id="photos" class="main">
            	<div class="spotlight">
            		<div class="content">
                        <header class="major">
                            <h2>Fonctionnement</h2>
                        </header>
                  <h3>Où et quand ?</h3>
                  <p>La réservation se fait en direct auprès de La Roue Libre <a href="{{ path('presentation')}}#contacter" target="_blank"><b>(tel ou mail)</b></a>. Il faut ensuite venir chercher le vélo cargo au local pour un point technique et les derniers conseils avant de pédaler vers la liberté.</p>
            		<center><img class="imageMR imgDouble" src="{{ asset('medias/images/cargo/velocargo3.jpg') }}" width="480" alt="" /></center>
            			
            		<h3>Combien ?</h3>
            			<p>Le prêt du vélo cargo est gratuit. Il suffit d’être adhérent de l’association, de déclarer le prêt à son assurance et de laisser un chèque de caution (non encaissé).</br>
            			La durée est à définir ensemble en fonction des demandes et réservations. Cela peut varier d’un week-end à un mois.</p>
            		<center><img class="imageContent" src="{{ asset('medias/images/cargo/velocargo4.jpg') }}" width="600" alt="" /></center>
            		<h3>Options disponibles</h3>
            			<p>Le vélo est disponible avec un équipement de base : chargeur de batterie et antivols.</br>
            			Il peut également être équipé d’accessoires disponibles selon vos besoins : caisse avant avec banquette et ceinture pour le transport d’enfants, bâche de protection contre la pluie pour transporter les enfants confortablement, casques adultes et enfants, gilets de visibilité.</p>
            		</div>
            	</div>
            	<div class="spotlight">
            		<img class="imageMR imgDouble" src="{{ asset('medias/images/cargo/velocargo5.jpg') }}" width="600" alt="" />
						<img class="imageContent imgDouble" src="{{ asset('medias/images/cargo/velocargo6.jpg') }}" width="600" alt="" />
            	</div>
            </section>

        </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrollex.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/jquery.scrolly.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/browser.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/breakpoints.min.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/util.js') }}"></script>
    <script src="{{ asset('template-html5up-stellar/assets/js/main.js') }}"></script>
{% endblock %}